{% extends 'ObverseAppSchedulerBundle::layout.html.twig' %}

{% block head_style %}
{{ parent() }}
<script src="{{ asset('bundles/sonatajquery/jquery-1.8.3.js') }}"></script>
<script src="{{ asset('bundles/sonatajquery/jquery-ui-1.8.23.js') }}"></script>
<script src="{{ asset('bundles/mopabootstrap/bootstrap/js/modal.js') }}"></script>
{#<script src="{{ asset('bundles/sonatajquery/jquery-ui-i18n.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>  #}

<script type="text/javascript">
$(function () {
    $('input[type="checkbox"][name*="options"][value="repeat"]').click(function() {
        if ($(this).is(':checked')) {
            $.ajax({
                url: '{{ path("obverse_appscheduler_default_repeat") }}',
                cache: false,
                success: function(data) {
                    // $('#repeatDiv').html(data);
                    // $('#repeatDiv').dialog("open");
                    $('#repeatModal .modal-body').html(data);
                    $('#repeatModal').modal({keyboard: true});
                    $('#repeatModal').modal('show');
                    $('#repeatModal').on('hidden.bs.modal', function (e) {
                      // do something...
                      // uncheck repeat checkbox
                        $('#form_options_1').attr('checked', false);
                    });
                }
            });
        }
    });
});
</script>
    {% endblock head_style %}

    {% block content %}
        {% for key, message in app.session.flashbag.all() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}
    <div>

{% block fos_user_content %}
    <form class="form-horizontal" class="col-lg-6">
        {{ form_row(form.location) }}
        {{ form_row(form.category) }}
        {{ form_row(form.title) }}
        {{ form_row(form.startAt) }}
        {{ form_row(form.endAt) }}
        {{ form_row(form.rrule) }}
        {{ form_row(form.options) }}
        <div class="col-lg-3"></div>
        <div class="form-actions" class="col-lg-2">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="reset" class="btn">Cancel</button>
        </div>
    </form>

    <div id="repeatDiv"></div>
            <!-- Modal -->
            <div class="modal fade" id="repeatModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 id="repeatModalTitle" class="modal-title">Repeat Options</h4>
                        </div>
                        <div class="modal-body">
                            <p>One fine body&hellip;</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" id="btnDone" class="btn btn-primary">Done</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

{% endblock fos_user_content %}
    </div>
{% endblock content %}
