<p>Use this form to reserve an appointment for a school tour on {{ instance.getStart|date('l F j, Y @ h:ia')}}.</p>
<form class="form-horizontal" method="{{ path('obverse_appscheduler_default_add_appointment')}}">
    {{ form_row(form.email) }}
    {{ form_row(form.mobile_phone) }}
    {{ form_row(form.notes) }}
    {{ form_rest(form) }}
</form>
