    <form class="form-horizontal" method="{{ path('obverse_appscheduler_default_add_appointment')}}">
        {{ form_row(form.location) }}
        {{ form_row(form.category) }}
        {{ form_row(form.title) }}
        {{ form_row(form.capacity) }}
        {{ form_row(form.startAt) }}
        {{ form_row(form.endAt) }}
    </form>
