<html style="font-size: 100%">
    <body id="home" style="background-color: #FFFFFF; color: #333333; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; line-height: 20px; margin:0;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
            <tbody>
                 <tr><td>&nbsp;</td></tr>
                 <tr>
                     <td valign="top" align="left"><strong>Appointment Scheduler</strong> </td>
                 </tr>
                 <tr><td>&nbsp;</td></tr>
                 <tr>
                     <td align="center"><!-- <img style="alignment-adjust: central" src=""> --> Company logo will coming soon.</td>
                 </tr>
                 <tr><td>&nbsp;</td></tr>
                 <tr>
                     <td align="left" style="border-bottom:solid 1px #c8c8c8;font-size:12px;font-family:Arial;padding:20px;border-top:solid 1px #c8c8c8; font-weight: bold; font-size: 15px;">
                       Your appointment is still pending. so please click on below link for finally booked your appointment.
                     </td>
                 </tr>
                 <tr><td>&nbsp;</td></tr>
                 <tr>
                   <td align="center"><a href="{{ app.request.scheme ~ '://' ~ app.request.host }}{{ path('obverse_appscheduler_default_mail_confirm', { id: instanceId }) }}">Booked appointment</a></td>
                 </tr>
             </tbody>
        </table>
    </body>
</html>