{% extends 'ObverseAppSchedulerBundle::layout.html.twig' %}

{% block head %}
<head>
    <meta charset="UTF-8" />
    {% block head_style %}
        {# Override this block to add your own files! #}
        {% stylesheets
            '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    {# To use this without less use the base_css.html.twig template as your base
     # Be sure you understand whats going on: have a look into
     # https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/css-vs-less.md
     #}

    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/obverseappscheduler/css/calendar.css') }}" />
    <style type="text/css">
        #calendar-holder {
            width: 800px;
            margin: auto;
        }
    </style>
    {% endblock head_style %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block head_script %}
    {# Overwrite this block to add your own js here, to get them generated into final files
    {% javascripts
        'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
        '/bundles/sonatajquery/jquery-ui-1.8.23.js'
        '/bundles/sonatajquery/jquery-ui-i18n.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
     #}

    {#<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.1/jquery-ui.js"></script> #}

    <script src="{{ asset('bundles/sonatajquery/jquery-1.8.3.js') }}"></script>
    <script src="{{ asset('bundles/sonatajquery/jquery-ui-1.8.23.js') }}"></script>
    <script src="{{ asset('bundles/sonatajquery/jquery-ui-i18n.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
    <script type="text/javascript">
    var clickedDate = null;
    $(function () {
        $('button.btn-primary').click(function(e) {
            e.preventDefault();
            // save data
            var urlPath = Routing.generate('obverse_appscheduler_default_add', {date: clickedDate });

            if (clickedDate) {
                var data = $('form').serialize();
                $.ajax({
                   type: "POST",
                   url: urlPath,
                   data: data
                }).done(function( result ) {
                   alert('events is successfully created');
                    console.log(result);
                   // window.location.assign(Routing.generate('obverse_appscheduler_default_index'));
                   /*if(result.success) {
                       $('#result').html('<span style="color:red;">User saved correctly!<br/></span> The data are:<br/><table><tr><td>id: '+ result.id +'</td></tr><tr><td>username: '+ result.username +'</td></tr><tr><td>registration_date: '+ result.registrationdate.date+'</td></tr></table>');
                   } */
                });

            }
        });

        $('button.btn-add-appointment').click(function(e) {
            e.preventDefault();
            // save data
            var urlPath = Routing.generate('obverse_appscheduler_default_add_appointment');

            var data = $('form').serialize();
            $.post(urlPath, data, function(result, textStatus, jqXHR){
                if (result.success) {
                  alert('Your appointment has been booked!  Please check your email to confirm.');
                  window.location.assign(Routing.generate('obverse_appscheduler_default_index'));
                } else {
                  $('#calModal .modal-body').html(result);
                } 
            });
        });

        $('button.btn-default').click(function(e) {
            //e.preventDefault();

            // advance to edit page
            window.location.assign(Routing.generate('obverse_appscheduler_default_add', {date: clickedDate }));
        });

        $('button.btn-del-appointment').click(function(e) {
            if(confirm("Are you sure you want to delete this event?")) {
               // delete event url
                var urlPath = Routing.generate('obverse_appscheduler_default_delete');
                // ajax call for delete event.
                $.ajax({
                   type: "POST",
                   url: urlPath,
                   data:$('form').serialize(),
                }).done(function( result ) {
                   // if success than display successful message and redirect on index page.
                   alert('event deleted successfully!');
                   window.location.assign(Routing.generate('obverse_appscheduler_default_index'));
                });
            }
            return false;
        });


        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $('#calendar-holder').fullCalendar({
         header: {
          left: 'prev, next',
          center: 'title',
          right: 'month,agendaWeek'
         },
         allDaySlot: false,
         weekends: false,
    {% if is_granted("ROLE_ADMIN") %}
         editable: true,
    {% else %}
         editable: false,
    {% endif %}
         defaultView: 'agendaWeek',
         firstHour: 9,
         firstDay: 1,
         minTime: 8,
         maxTime: 18,
         lazyFetching:true,
         timeFormat: {
            // for agendaWeek and agendaDay
            agenda: 'h:mmt', // 5:00 - 6:30
            // for all other views
            '': 'h:mmt'            // 7p
         },
         eventSources: [{
            url: Routing.generate('obverse_appscheduler_default_fullcalendar'),
            type: 'POST',
            // A way to add custom filters to your event listeners
            data: {
            },
            error: function() {
                //alert('There was an error while fetching Google Calendar!');
            }
         }
         ],
    {% if is_granted("ROLE_ADMIN") %}
         dayClick: function(date, allDay, jsEvent, view) {
             clickedDate = getFormattedDate(date);
             $.ajax({
                url: Routing.generate('obverse_appscheduler_default_add', {date: clickedDate }),
                cache: false,
                success: function(data) {
                    $('#calModalTitle').html('Add New Booking Slot');
                    $('#calModal .modal-body').html(data);
                    $('#calModal').modal({keyboard: true});
                    $('#calModal').modal('show');
                }
             });
          },
          eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
              $.ajax({
                  url: Routing.generate('obverse_appscheduler_default_drag', {id: event.id, dayDelta: dayDelta, minuteDelta: minuteDelta, isAllDay: (allDay) ? 1 : 0 }),
                  cache: false,
                  success: function(data) {
                      alert('Your event was moved!');
                  }
              });
          },
          eventResize: function(event,dayDelta,minuteDelta,revertFunc,jsEvent,ui,view) {
              $.ajax({
                  url: Routing.generate('obverse_appscheduler_default_resize', {id: event.id, dayDelta: dayDelta, minuteDelta: minuteDelta }),
                  cache: false,
                  type: 'POST',
                  success: function(data) {
                      alert('Your event was resized!');
                  }
              });
          },
    {% endif %}
          eventClick: function(calEvent, jsEvent, view) {
              // client side checking functionality if pending or booked than user not able to booked.
                    {% if is_granted("ROLE_ADMIN") %}
              if (calEvent.status == 'pending' || calEvent.status == 'booked') {
                        alert('editing!');
              }
                    {% else %}
              if (calEvent.status == 'pending' || calEvent.status == 'booked') {
                  alert('This appointment is already booked, please choose another.');
                  return false;
              }
                {% endif %}
              $.ajax({
                    url: Routing.generate('obverse_appscheduler_default_add_appointment', {id: calEvent.id }),
                    cache: false,
                    success: function(data) {
                        if (!data.success && data.message) {
                            alert(data.message);
                            return false;
                        }
                        $('#myModalLabel').html(calEvent.title);
                        $('#calModal .modal-body').html(data);
                        $('#calModal .modal-footer .btn-default').hide();
                        $('#calModal .modal-footer .btn-primary').hide();
                        $('#calModal .modal-footer .btn-add-appointment').show();
                        $('#calModal .modal-footer .btn-del-appointment').show();
                        $('#calModal').modal({keyboard: true});
                        $('#calModal').modal('show');
                    }
               });
           }
        });
    });

    function getFormattedDate(date) {
        var year = date.getFullYear();

        var month = (1 + date.getMonth()).toString();
        month = month.length > 1 ? month : '0' + month;

        var day = date.getDate().toString();
        day = day.length > 1 ? day : '0' + day;

        var hour = date.getHours().toString();
        hour = hour.length > 1 ? hour : '0' + hour;

        var minute = date.getMinutes().toString();
        minute = minute.length > 1 ? minute : '0' + minute;

        var second = date.getSeconds().toString();
        second = second.length > 1 ? second : '0'+ second;

        return year + '/' + month + '/' + day + ' ' + hour + ':' + minute + ':' + second;
    }
   </script>
{% endblock head_script %}


    <title>{% block title %}Village Babies :: Schedule a Tour{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    {% block head_bottom %}
    {% endblock head_bottom %}
</head>
{% endblock head %}

           {% block page_header %}
            <div class="page-header">
                  <h1>{% block headline %}Village Babies Available Tour Schedule{% endblock headline %}</h1>
            </div>
            {% endblock page_header %}

{% block content_sidebar %}
    <h4>School Tours</h4>
<p>This calendar shows our upcoming school tours.  You may click on any item in green to schedule an appointment to view our school.  If you do not see any open appointments, please use the "month" view to view our calendar by month.  All appointments booked online must be confirmed by valid email.  If you still need help, please reach out to us at <a href="mailto:support@villagebabies.com">support@villagebabies.com</a></p>

{% if is_granted("ROLE_ADMIN") %}
<h4>Admin</h4>
<p>Admin users:  click on any open cell of the calendar in "week" view to schedule potential school tour availability.  Once an item is saved, you may drag it to change its start and end times and you may resize it to change its duration.  Click on any yellow/red item to view details on a scheduled tour.  Yellow items have not been confirmed by email, Green items have been confirmed.</p>
{% endif %}
{% endblock content_sidebar %}


{% block content_content %}
    {% for key, message in app.session.flashbag.all() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
    <div>
        {% block fos_user_content %}
            <div id="calendar-holder"></div>
            <!-- Modal -->
            <div class="modal fade" id="calModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 id="calModalTitle" class="modal-title">Schedule a School Tour</h4>
                        </div>
                        <div class="modal-body">
                            <p>One fine body&hellip;</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Edit Booking Slot</button>
                            <button type="button" class="btn btn-primary">Create Booking Slot</button>
                            <button type="submit" class="btn btn-primary btn-add-appointment" style="display: none;">Reserve Appointment</button>
                            {% if is_granted("ROLE_ADMIN") %}
                                <button type="button" class="btn btn-del-appointment" style="display: none;">Delete Appointment</button>
                            {% endif %}
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        {% endblock fos_user_content %}
    </div>
{% endblock content_content %}

            {% block footer %}
            <p>&copy; <a href="http://www.villagebabies.com" target="_blank">Village Babies Development Center</a> 2013-2014</p>
            {% endblock footer %}

