{% javascripts
    "%kernel.root_dir%/../vendor/documentcloud/underscore/underscore.js"
    "%kernel.root_dir%/../vendor/jkbr/rrule/rrule.js"
    "%kernel.root_dir%/../vendor/jkbr/rrule/nlp.js"
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
// parse a date in yyyy-mm-dd format
function parseDate(input) {
    var parts = input.split('-');
    if (parts.length == 3) {
        return new Date(parts[0], parts[1]-1, parts[2]); // months are 0-based
    }
}

function compileRrule()
{
    // run rrule processing
    var weekdays = [];
    var rruleWeekdays = new Array();
    rruleWeekdays['0'] = RRule.MO;
    rruleWeekdays['1'] = RRule.TU;
    rruleWeekdays['2'] = RRule.WE;
    rruleWeekdays['3'] = RRule.TH;
    rruleWeekdays['4'] = RRule.FR;
    rruleWeekdays['5'] = RRule.SA;
    rruleWeekdays['6'] = RRule.SU;

    $('input[name*="weekday"]:checked').each(function(idx, obj) {
        weekdays.push(rruleWeekdays[obj.value]);
    });

    rruleObj = {};
    rruleObj.interval = $intervalControl.val();

    if (weekdays.length) rruleObj.byweekday = weekdays;
    if ($dtStartControl.val()) rruleObj.dtstart = parseDate($dtStartControl.val());

    if ($untilControl.val()) {
        rruleObj.until = parseDate($untilControl.val());
    }
    if ($countControl.val()) rruleObj.count = $countControl.val();

    // console.log($freqControl.val());
    // console.log(rruleObj);
    var rule = new RRule($freqControl.val(), rruleObj);
    return rule;
}

$(document).ready(function() {
    $freqControl = $('#obverse_schedule_repeat_options_frequency');
    $intervalControl = $('#obverse_schedule_repeat_options_rinterval');
    $countControl = $('#obverse_schedule_repeat_options_ends_num_occurrences');
    $dtStartControl = $('#obverse_schedule_repeat_options_start');
    $untilControl = $('#obverse_schedule_repeat_options_ends_until_date');

    // Get any weekdays
    var $weekDayControl = $('input[name*="weekday"]:checked');
    var $freqText = $('#freq_text');
    var $summary = $('#summary');
    // Bind a custom event
    $summary.bind('repeatSummaryUpdate', function(e) {

        // console.log("frequency = " + $freqControl.val());
        // console.log("interval = " + $intervalControl.val());
        // console.log("count = " + $countControl.val());
        // console.log("weekdays = " + weekdays.join());
        // console.log("dtstart = " + $dtStartControl.val());
        // console.log("until = " + $untilControl.val());
        // console.log("until = " + parseDate($untilControl.val()));

        rule = compileRrule();
        // console.log('test test test tst test test est');
        $summary.html(rule.toText());
    });

    // Trigger summary update on change of any input or select
    $('#repeatForm input, #repeatForm select').change(function() {
        $summary.trigger('repeatSummaryUpdate');
    });

    $('input[type="radio"][name*="ends_type"]').change(function(){
        var endsQualifier = $('input[type="radio"][name*="ends_type"]:checked').val();
        $('.ends_qualifier').hide();
        if (endsQualifier == 'after') {
            // set num occurences
            $($('.ends_qualifier').get(0)).show();
            $countControl.val(30);
            // set until date
            $untilControl.val('');
        }
        else if (endsQualifier == 'until') {
            // set num occurrences
            $($('.ends_qualifier').get(1)).show();
            // $countControl.val('');
            // set until date to default date
            $untilControl.val('2013-10-02');
        }
        else if (endsQualifier == 'never') {
            // set num occurrences
            $countControl.val('');
            // set until date
            $untilControl.val('');
        }
        $summary.trigger('repeatSummaryUpdate');
    });

    $('input[type="radio"][name*="ends_type"]').trigger('change');

    $freqControl.change(function() {
        var intervals = new Array();
        intervals['3'] = 'day(s)';
        intervals['2'] = 'week(s)';
        intervals['1'] = 'month(s)';
        intervals['0'] = 'year(s)';

        if (intervals[this.value]) {
            $('#repeat_interval').html(intervals[this.value]);
        } else {
            alert('invalid interval');
        }

        // Reset interval to 1
        $intervalControl.val(1);

        // Hide all repeat qualifier controls
        $('.repeat_qualifier').hide();
        if (this.value == '1') {
            $('.repeat_qualifier:last').show();
        }
        if (this.value == '2') {
            $('.repeat_qualifier:first').show();
        }

        // Uncheck all weekday checkboxes
        $('input[name*="weekday"]').each(function(idx, obj) {
            $(obj).prop('checked', false);
        });
    });

    $freqControl.trigger('change');
    // $("#obverse_schedule_repeat_options_ends_type_0").parent().contents().filter(function() { return this.nodeType != 1; }).remove();
    // $("#obverse_schedule_repeat_options_ends_type_1").parent().contents().filter(function() { return this.nodeType != 1; }).remove();
    // var $foo = $('#obverse_schedule_repeat_options_num_occurrences');
    // $('#obverse_schedule_repeat_options_ends_type_1').parents('label').append('<div class="col-lg-2">'+$('#obverse_schedule_repeat_options_num_occurrences').html()+'</div>');
    // $foo.appendTo($('#obverse_schedule_repeat_options_ends_type_1'));
    // $('#obverse_schedule_repeat_options_ends_type_1').after('blah');
    // $("#obverse_schedule_repeat_options_ends_type_2").parent().contents().filter(function() { return this.nodeType != 1; }).remove();

    // if an until date is set, make sure the until radio button is checked
    $untilControl.change(function() {
        if (this.value) {
            $('input[type="radio"][name*="ends_type"][value="until"]').attr('checked', 'checked');
        }
    });

    $('#btnDone').click(function(e) {
        e.preventDefault();
        e.stopPropagation();
        // save rrule to parent form
        rule = compileRrule();
        $('#form_rrule').val(rule.toString());
        $('#recurringSummary').html(': <b>' + rule.toText() + '</b> <a href="#" id="editRecur">edit</a>');

            $('#editRecur').on('click', function(e) {
                e.preventDefault();
                e.stopPropagation();
                $('#repeatDiv').dialog('open');
                return false;
            });

        $('#repeatModal').modal('hide');
        return false;
    });

    $('#btnCancel').click(function(e) {
        e.preventDefault();
        e.stopPropagation();
        $('#repeatDiv').dialog('close');
        return false;
    });
});
</script>
<form id="repeatForm" class="form-horizontal">
    {{ form_errors(form) }}
    {{ form_row(form.frequency) }}
    {{ form_row(form.rinterval) }}
    {{ form_row(form.repeat_weekday) }}
    {{ form_row(form.repeat_monthday) }}
    {{ form_row(form.start) }}
    {{ form_row(form.ends_type) }}
    {{ form_row(form.num_occurrences) }}
    {{ form_row(form.until_date) }}
<br clear="all" />
    <div class="form-group">
        <label class="control-label col-lg-3">Summary</label>
        <div class="controls col-lg-7" id="summary" style="margin-top: 7px;">
        </div>
    </div>
{#
    <div class="form-actions" class="col-lg-2">
        <input type="submit" value="Done" id="btnDone" class="btn btn-primary" />
        <input type="submit" value="Cancel" id="btnCancel" class="btn" />
    </div>
#}
</form>
