/* FullCalendar */
.fc-event span.action_panel {
    float: right;
    margin-right: 2px;
    display : none;
}

.fc-event span.action_panel .action_panel_delete{
    display : none;
}
/* FullCalendar end */
