{% extends 'MopaBootstrapBundle::base.html.twig' %}

    {% block navbar %}
    <div class="row">
        <div class="col-lg-3 pull-right">
            {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true, inverse: true } %}
                {% block menu %}
                    yessir
                    {{ mopa_bootstrap_menu('ObverseAppSchedulerBundle:Builder:mainMenu') }}
                    {{ mopa_bootstrap_menu('ObverseAppSchedulerBundle:Builder:rightSideMenu') }}
                {% endblock %}
            {% endembed %}

            {% if is_granted("ROLE_USER") %}
                <a href="{{ path('fos_user_security_logout') }}">Log Out</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">Log In</a>
            {% endif %}
        </div>
    </div>
    {% endblock navbar %}

    {% block page_header %}
    <div class="page-header">
          <h1>{% block headline %}Village Babies Available Tour Schedule{% endblock headline %}</h1>
    </div>
    {% endblock page_header %}

    {% block footer %}
        <p>&copy; <a href="http://www.villagebabies.com" target="_blank">Village Babies Development Center</a> 2013-2014</p>
    {% endblock footer %}
